In [3]:
import pandas as pd
import requests
import numpy as np
import folium as f
from pymongo import MongoClient
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt

In [10]:
client=MongoClient()
db=client.db_companies
colec=db.companies

In [11]:
al_menos_1_ofi=list(colec.find({'offices':{'$not':{'$size':0}}},
                                 {'name':1, 'offices':1, '_id':0}))

In [12]:
df=pd.DataFrame(al_menos_1_ofi)

In [13]:
def get_first(data):
    res=[]
    ofi=[]
    data=data['offices']
    for e in data:
        principal=None   #solo las tienen geodata
        if e[0]['latitude'] and e[0]['longitude']:
            principal={'type':'Point',
                       'coordinates':[
                           e[0]['longitude'],
                           e[0]['latitude']
                       ]}
        ofi.append(principal)
        res.append({
            'total_offices':len(e),
            'lat':e[0]['latitude'],
            'lng':e[0]['longitude'],
            'oficina_principal':principal
        }) 
    return res, ofi

In [14]:
first_office=json_normalize(get_first(df)[0])
first_office['oficina_principal']=get_first(df)[1]
first_office.fillna('o', inplace = True)
first_office

,lat,lng,oficina_principal,oficina_principal.coordinates,oficina_principal.type,total_offices
0,47.6031,-122.333,"{'type': 'Point', 'coordinates': [-122.333253,...","[-122.333253, 47.603122]",Point,2
1,37.6929,-121.905,"{'type': 'Point', 'coordinates': [-121.904945,...","[-121.904945, 37.692934]",Point,1
2,37.6929,-121.905,"{'type': 'Point', 'coordinates': [-121.904945,...","[-121.904945, 37.692934]",Point,1
3,37.7647,-122.395,"{'type': 'Point', 'coordinates': [-122.394523,...","[-122.394523, 37.764726]",Point,1
4,37.416,-122.152,"{'type': 'Point', 'coordinates': [-122.151801,...","[-122.151801, 37.41605]",Point,3
5,o,o,o,o,o,1
6,37.5069,-122.248,"{'type': 'Point', 'coordinates': [-122.247573,...","[-122.247573, 37.506885]",Point,1
7,34.0904,-118.393,"{'type': 'Point', 'coordinates': [-118.393064,...","[-118.393064, 34.090368]",Point,1
8,34.026,-118.38,"{'type': 'Point', 'coordinates': [-118.379768,...","[-118.379768, 34.025958]",Point,1
9,34.0762,-118.394,"{'type': 'Point', 'coordinates': [-118.39417, ...","[-118.39417, 34.076179]",Point,1
10,37.7768,-122.417,"{'type': 'Point', 'coordinates': [-122.4169244...","[-122.4169244, 37.7768052]",Point,1
11,37.7752,-122.419,"{'type': 'Point', 'coordinates': [-122.419204,...","[-122.419204, 37.775196]",Point,2
12,37.4841,-122.169,"{'type': 'Point', 'coordinates': [-122.169472,...","[-122.169472, 37.48413]",Point,1
13,37.7896,-122.404,"{'type': 'Point', 'coordinates': [-122.404052,...","[-122.404052, 37.789634]",Point,1
14,33.0222,-117.081,"{'type': 'Point', 'coordinates': [-117.081406,...","[-117.081406, 33.022176]",Point,1
15,37.4512,-122.154,"{'type': 'Point', 'coordinates': [-122.154369,...","[-122.154369, 37.451151]",Point,1
16,34.0575,-118.447,"{'type': 'Point', 'coordinates': [-118.446596,...","[-118.446596, 34.057498]",Point,1
17,37.295,-121.93,"{'type': 'Point', 'coordinates': [-121.930035,...","[-121.930035, 37.295005]",Point,1
18,40.7579,-73.9855,"{'type': 'Point', 'coordinates': [-73.985506, ...","[-73.985506, 40.757929]",Point,1
19,40.7465,-74.0094,"{'type': 'Point', 'coordinates': [-74.0094471,...","[-74.0094471, 40.7464969]",Point,1
20,37.2692,-119.307,"{'type': 'Point', 'coordinates': [-119.306607,...","[-119.306607, 37.269175]",Point,1
21,40.7577,-73.986,"{'type': 'Point', 'coordinates': [-73.986011, ...","[-73.986011, 40.757725]",Point,1
22,53.3441,-6.26749,"{'type': 'Point', 'coordinates': [-6.267494, 5...","[-6.267494, 53.344104]",Point,1
23,37.3878,-122.055,"{'type': 'Point', 'coordinates': [-122.055197,...","[-122.055197, 37.387845]",Point,1
24,37.4088,-121.954,"{'type': 'Point', 'coordinates': [-121.95377, ...","[-121.95377, 37.408802]",Point,1
25,37.4185,-122.025,"{'type': 'Point', 'coordinates': [-122.025485,...","[-122.025485, 37.418531]",Point,1
26,37.7786,-122.395,"{'type': 'Point', 'coordinates': [-122.395289,...","[-122.395289, 37.778613]",Point,1
27,37.7796,-122.393,"{'type': 'Point', 'coordinates': [-122.393041,...","[-122.393041, 37.779558]",Point,1
28,o,o,o,o,o,1
29,38.9262,-77.2452,"{'type': 'Point', 'coordinates': [-77.245195, ...","[-77.245195, 38.926172]",Point,6
...,...,...,...,...,...,...
13714,o,o,o,o,o,2
13715,25.7234,-80.3063,"{'type': 'Point', 'coordinates': [-80.306331, ...","[-80.306331, 25.723408]",Point,1
13716,37.3692,-122.037,"{'type': 'Point', 'coordinates': [-122.036849,...","[-122.036849, 37.369195]",Point,1
13717,37.5531,-122.302,"{'type': 'Point', 'coordinates': [-122.301534,...","[-122.301534, 37.553121]",Point,1
13718,o,o,o,o,o,1
13719,o,o,o,o,o,1
13720,o,o,o,o,o,1
13721,51.5177,-0.116537,"{'type': 'Point', 'coordinates': [-0.1165365, ...","[-0.1165365, 51.5177425]",Point,1
13722,33.448,-117.608,"{'type': 'Point', 'coordinates': [-117.607717,...","[-117.607717, 33.44801]",Point,1
13723,37.4846,-122.182,"{'type': 'Point', 'coordinates': [-122.181753,...","[-122.181753, 37.484616]",Point,1
13724,o,o,o,o,o,1
13725,37.3864,-121.929,"{'type': 'Point', 'coordinates': [-121.92917, ...","[-121.92917, 37.386417]",Point,1
13726,37.477,-122.152,"{'type': 'Point', 'coordinates': [-122.151599,...","[-122.151599, 37.477008]",Point,1
13727,39.3946,-119.812,"{'type': 'Point', 'coordinates': [-119.8120795...","[-119.8120795, 39.394564]",Point,2
13728,37.512,-121.999,"{'type': 'Point', 'coordinates': [-121.998513,...","[-121.998513, 37.512038]",Point,1
13729,50.84,4.34647,"{'type': 'Point', 'coordinates': [4.3464721, 5...","[4.3464721, 50.83997]",Point,1
13730,o,o,o,o,o,1
13731,o,o,o,o,o,1
13732,o,o,o,o,o,1
13733,29.8488,-95.5045,"{'type': 'Point', 'coordinates': [-95.5045451,...","[-95.5045451, 29.8487788]",Point,1
13734,40.7159,-74.0333,"{'type': 'Point', 'coordinates': [-74.033251, ...","[-74.033251, 40.715887]",Point,1
13735,37.7019,-121.937,"{'type': 'Point', 'coordinates': [-121.9366984...","[-121.9366984, 37.7019395]",Point,1
13736,33.8065,-117.882,"{'type': 'Point', 'coordinates': [-117.882314,...","[-117.882314, 33.806525]",Point,1
13737,40.7751,-73.0881,"{'type': 'Point', 'coordinates': [-73.08814, 4...","[-73.08814, 40.775055]",Point,1
13738,26.7053,-80.0414,"{'type': 'Point', 'coordinates': [-80.041395, ...","[-80.041395, 26.705331]",Point,1
13739,47.0882,8.43716,"{'type': 'Point', 'coordinates': [8.4371634, 4...","[8.4371634, 47.0882193]",Point,1
13740,o,o,o,o,o,1
13741,40.793,-74.3236,"{'type': 'Point', 'coordinates': [-74.3235539,...","[-74.3235539, 40.7930239]",Point,1
13742,33.5189,-86.8161,"{'type': 'Point', 'coordinates': [-86.816068, ...","[-86.816068, 33.518885]",Point,1
13743,33.4078,-86.7613,"{'type': 'Point', 'coordinates': [-86.7613019,...","[-86.7613019, 33.4077856]",Point,1

In [15]:
mapa=f.Map(location=[33,-84], tiles='Stamen Toner', zoom_start=5)

In [16]:
stra=['o']
for e in first_office.values:
    if e[0] not in stra:
        f.CircleMarker([e[0], e[1]], radius=10, icon=f.Icon()).add_to(mapa)

In [17]:
emp=list(colec.find({'$and':[{'category_code':'software'},{'number_of_employees':{'$gt':500}},{'founded_year':{'$gt':2006}},{'total_money_raised':{'$gt':'$10.00M'}},{'offices':{'$not':{'$size':0}}}]},{'name':1, 'offices':1, '_id':0}))
#Los criterios de selección son los siguientes:
#1. Que sea una compañia de sofware
#2. Un número de empleados mayor a 500
#3. Que se haya fundado después del 2006
#4. Que haya recaudado más de 10 millones
#5. Que tenga oficinas
emp=pd.DataFrame(emp)
emp

    name                                            offices
0  Veeva  [{'description': 'Corporate Headquarters', 'ad...

In [18]:
def get_first(data):
    res=[]
    data=data['offices']
    for e in data:
        principal=None   #solo las tienen geodata
        if e[0]['latitude'] and e[0]['longitude']:
            res.append({
                'lat':e[0]['latitude'],
                'lng':e[0]['longitude'],
            }) 
    return res

In [19]:
emp2=json_normalize(get_first(emp))
emp2

        lat         lng
0  37.69249 -121.900722

In [20]:
#la=emp2.iloc[:,0]
#lo=emp2.iloc[:,1]

In [21]:
mapa=f.Map(location=[33,-84], tiles='Stamen Toner', zoom_start=5)
for e in range(1):
    f.CircleMarker([emp2.iloc[e,0],emp2.iloc[e,1]], radius=10 , icon=f.Icon()).add_to(mapa)
mapa

NameError: name 'db' is not defined

NameError: name 'db' is not defined

SyntaxError: unexpected EOF while parsing (<ipython-input-21-bc61563dfb42>, line 6)